body {
  font-family: sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 280px;
}

#display {
  background: #222;
  color: white;
  font-size: clamp(1.5rem, 5vw, 2.5rem); /* Escalado automático */
  text-align: right;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}


.teclado {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  background: #eee;
  border-radius: 5px;
  cursor: pointer;

}

.btn.operador {
  background: #ffa500;
  color: white;
}

.btn.igual {
  background: #32cd32;
  color: white;
}

.btn.cero {
  grid-column: span 2;
}

    /* ================== BOTÓN 'PÁGINA PRINCIPAL' - ESTILO BRUTALISTA ================== */
.home-button {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 160px;
    height: 160px;
    background-color: #f8ab10; 
    border: 6px solid rgb(255, 255, 255,0.18);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 6px 6px 0 rgb(255, 255, 255,0.18); 
    transition: none; 
    border-radius: 4px;

  }
  
  .home-button a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
    font-family: "Courier New", monospace; 
    text-transform: uppercase;
    display: block;
    padding: 10px;
  }
  
  .home-button:hover {
    background-color: black;
    border-color: #f8ab10;
    box-shadow: -6px -6px 0 #f8ab10;
  }
  
  .home-button:hover a {
    color: white;
  }
  

